:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --main-btn-hover-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --examples-border-color: #eeeeee;
  --header-border-color: #ececec;
  --main-font-family: "Roboto", sans-serif;
  --secindary-font-family: "Raleway", sans-serif;
  --icon-color: #afb1b8;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.card-set__overlay, .subscribe__form, .clients-list__link, .sn-list__link, .work__text, .feature-list__box, .header-contscts__link, .header-contscts, .navigation__list, .header__container, .modal-close, .check-box {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary, .button-modal, .button-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}
.button-primary:hover, .button-modal:hover, .button-submit:hover, .button-primary:focus, .button-modal:focus, .button-submit:focus {
  background-color: var(--main-btn-hover-color);
}

.button-submit {
  gap: 10px;
}

.button-modal {
  display: flex;
  margin: 0 auto;
}

.button-secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  padding: 6px 22px;
  transition: box-shadow var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}
.button-secondary:hover, .button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function), scale var(--duration) var(--timing-function);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--duration) var(--timing-function);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.input-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.input-with-icon {
  position: relative;
}

.modal-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.modal-input:focus,
.comment:focus,
.comment:hover {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-with-icon:hover .modal-input {
  border: 1px solid var(--accent-color);
}

.input-with-icon:hover .input-icon {
  fill: var(--accent-color);
}

.form-comment-label {
  display: block;
  margin-bottom: 20px;
}

.comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border var(--duration) var(--timing-function);
}

.form-check-label {
  display: block;
  margin-bottom: 30px;
}

.check-box {
  justify-content: center;
}

.input-check ~ .check-icon {
  fill: transparent;
  background-color: transparent;
}

.check-wrap {
  position: relative;
  display: flex;
}

.vector-icon {
  fill: var(--primary-black-color);
  margin-right: 7px;
  transition: fill var(--duration) var(--timing-function);
}

.check-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  transition: fill var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), border-radius var(--duration) var(--timing-function);
}

.input-check:checked ~ .check-wrap .vector-icon {
  fill: transparent;
}

.input-check:focus ~ .check-wrap .vector-icon {
  fill: var(--accent-color);
}

.input-check:checked ~ .check-wrap .check-icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.policy-text {
  line-height: 1.71;
}

.policy-link {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0.5turn);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  background-color: transparent;
  fill: var(--primary-black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--duration) var(--timing-function);
}

.modal-close:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-color);
}
.navigation {
  display: flex;
}

.header-logo {
  margin-right: 93px;
  color: var(--primary-black-color);
  font-family: var(--secindary-font-family);
  font-size: 25px;
  line-height: 1.19;
}

.logo-part {
  color: var(--accent-color);
}

.navigation__list {
  gap: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--duration) var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);
}
.navigation__link--current::after {
  position: absolute;
  bottom: -1.5px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contscts {
  margin-left: auto;
  gap: 50px;
}

.header-contscts__link {
  justify-content: center;
  gap: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02;
  transition: color var(--duration) var(--timing-function);
}
.header-contscts__link:hover, .header-contscts__link:focus {
  color: var(--accent-color);
}

.header-contscts__icon {
  fill: var(--primary-text-color);
  transition: fill var(--duration) var(--timing-function);
}
.header-contscts__link:hover .header-contscts__icon {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

.feature-list {
  display: flex;
  gap: 30px;
}
.feature-list__item {
  max-width: 270px;
}
.feature-list__box {
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.feature-list__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-list__text {
  line-height: 1.71;
}

.work {
  padding-top: 0;
}
.work__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.work__box {
  position: relative;
}
.work__text {
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--secondary-bg-color);
}
.team__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.sn-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 16px;
  justify-content: center;
}
.sn-list__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--icon-color);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}
.sn-list__link:hover, .sn-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.sn-list__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.clients-list__link {
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: flex;
  align-items: baseline;
}
.footer__map, .footer__contacts {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer__map {
  color: var(--primary-white-color);
  transition: color var(--duration) var(--timing-function);
}
.footer__contacts {
  margin-top: 9px;
  color: var(--footer-contacts-color);
  transition: color var(--duration) var(--timing-function);
}

.footer__map:hover,
.footer__map:focus,
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  color: var(--primary-white-color);
  font-family: var(--secindary-font-family);
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

/* Join */
.join {
  margin-left: 70px;
}

.join__title,
.subscribe__title {
  display: block;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.sn-list--dark {
  margin-top: 0;
}

.sn-list__link--dark {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}
.sn-list__link--dark:hover, .sn-list__link--dark:focus {
  background-color: var(--accent-color);
}

/* Subscribe */
.subscribe {
  margin-left: auto;
}
.subscribe__form {
  align-content: flex-end;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border var(--duration) var(--timing-function);
}
.subscribe__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.subscribe__icon {
  fill: var(--primary-white-color);
}

.buttons-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-set__item {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--examples-border-color);
}
.card-set__link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__top-wrap {
  position: relative;
  overflow: hidden;
}
.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}
.card-set__link:hover .card-set__overlay, .card-set__link:focus .card-set__overlay {
  transform: translateY(0);
}
.card-set__wrap {
  padding: 20px 24px;
}
.card-set__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card-set__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */