.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    max-width: 100%;
    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }
  &__box {
    @extend %align-list;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
  &__title {
    text-align: center;
    color: var(--title-text-color);
    @include font(null, 14px, 1.14, null);
    text-transform: uppercase;
    margin-bottom: 10px;
    @include tablet {
     text-align: start;
    }
    @include desktop {
      text-align: start;
    }
  }
  &__text {
    line-height: 1.71;
  }
}
